


.page-header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	z-index: 1000;
	background-color: rgba(250,250,250,0.6);
}

.page-header > div {
	position: relative;
	float: left;
}
.header-status {
	position: absolute;
	top: 5px;
	left: 300px;
	width: 250px;
	height: 50px;
}
.header-status > span {
	font-size: 0.9em;
	position: relative;
	float: left;
	width: 100%;
	height: 24px;
	margin: 0;
	padding: 0;
}


.exit-button {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
    border-radius: 20px;
    cursor: pointer;
}
.exit-button:hover {
	background-color: rgba(200,200,200,1);
}
.exit-button > img {
	display: block;
	position: relative;
	width: 20px;
	margin: 12px auto;
}

.members {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 400px;
	height: 80px;
}
.members > span {
	line-height: 3em;
	position: relative;
	float: left;
}
.member-detail {
	position: relative;
	float: left;
	width: 80px;
	height: 40px;
	margin: 0 5px;
}
.member-detail > p{
	line-height: 3em;
	text-shadow: 1px 1px 1px rgba(100,100,100,1);
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(200,200,200,1);
	padding: 0;
	margin: 0 5px;
}

.page-center {
	position: relative;
	margin: 10% auto;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	box-shadow: 2px 2px 100px rgba(150,150,150,1);
	background-color: rgba(250,250,250,1);
	z-index: 1000;
}

.page-center-block {
	position: absolute;
	top: 90px;
	left: 25px;
	width: 350px;
	height: 200px;
}



/*
* 共有スクリーン
*/
.screen-view{
	position: absolute;
	top: 50px;
	left: 0xp;
	width: 1280px;
	height: 600px;
	margin: 0;
	padding: 0;
}
.screen-block {

}
.screen-body {
	position: absolute;
	top: 10px;
	left: 10px;
}
.screen-videobox {
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 10px rgba(250,250,250,1);
}
.screen-artbox {
	position: absolute;
	top: 0px;
	left: 0px;
}

.page-tools {
	position: absolute;
	top: 80px;
	right: 50px;
	width: 50px;
	height: 90%;
	min-height: 300px;
	max-height: 500px;
	padding: 0;
	margin: 0;
	z-index: 1010;
}

.tool-button {
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	margin: 5px auto;
	border-radius: 30px;
	border: solid 1px rgba(200,200,200,1);
	background-color: rgba(250,250,250,1);
	cursor: pointer;
}
.tool-button:first {
	margin: 15px;
}

.tool-button > img {
	display: block;
	position: relative;
	width: 35px;
	margin: 10px auto;
}

.tool-button:hover {
	background-color: rgba(200,200,200,1);
}

/*
* Screen Shot
*/
.screen-capture {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 85%;
	height: 90%;
	background-color: rgba(50,50,50,1);
	box-shadow: 0px 0px 5px rgba(200,200,200,1);

	overflow-y: scroll;
	scrollbar-color: rgba(250,250,250,1) rgba(200,200,200,1);
	scrollbar-width: thin;
	z-index: 1210;
}

.screen-list {
	position: relative;
	float: left;
	width: 320px;
	height: 200px;
	margin: 10px 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,1);
	cursor: pointer;
}

.screen-list:hover {
	box-shadow: 0px 0px 5px rgba(10,10,10,1);
}

.screen-list > span {
	text-align: center;
}

.screen-dlbutton {
	font-size: 0.7em;
	position: relative;
	float: right;
	width: 30px;
	height: 15px;
	margin: 0px 5px;
	border-radius: 10px;
	border: solid 1px rgba(200,200,200,1);
	background-color: rgba(250,250,250,1);
	cursor: pointer;
}

.screen-dlbutton:hover {
	background-color: rgba(200,200,200,1);
}

/*
* ScreenShot Editer
*/
.page-editer {
	position: absolute;
	top: 60px;
	left: 10px;
	width: 1200px;
	height: 600px;
	z-index: 1250;
}

.canvas-layer {
	position: absolute;
	top: 0px;
	left: 0px;
}

.art-tool {
    position: absolute;
    top: 560px;
    width: 700px;
    height: 20px;
}

.art-tool-palet {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(100,100,100,1);

    margin: 0 5px;
    cursor: pointer;
}

.editer-tags {
	position: absolute;
	padding: 5px;
	width: 220px;
	border: solid 1px rgba(100,100,100,1);
	border-radius: 10px 10px 0 0;
	box-shadow: 1px 1px 0px rgba(200,200,200,1);
	background-color: rgba(250,250,250,0.6);
}
.editer-tags > div {
	position: relative;
	float: left;
}
.editer-tag-header {
	width: 220px;
	height: 20px;	
}
.editer-tags-move {
	text-align: center;
	cursor: move;
	width: 200px;
	height: 20px;
}
.editer-tags-delete {
	text-align: center;
	line-height: 1em;
	font-weight: bolder;
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 0.76em;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	border: solid 1px rgba(200,200,200,1);
	cursor: pointer;
	z-index: 10000;
}
.editer-tags-delete:hover {
	background-color: rgba(200,200,200,1);
}
.editer-tags-text {
	width: 220px;
}
.editer-tags-text > input {
	width: 210px;
}
.close-edit {
	text-align: center;
	line-height: 3em;
	font-size: 0.8em;
	position: absolute;
	top:  540px;
	right: 250px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px rgba(200,200,200,1);
	background-color: rgba(250,250,250,1);
	cursor: pointer;
}

.close-edit:hover {
	background-color: rgba(200,200,200,1);
}


/*
* Chat
*/
.screen-text {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 85%;
	height: 90%;
	background-color: rgba(50,50,50,1);
	box-shadow: 0px 0px 5px rgba(200,200,200,1);
	z-index: 1210;
}
.chat-window {
	position: absolute;
	top: 5px;
	left: 40%;
	width: 500px;
	height: 500px;
	background-color: rgba(240,240,240,1);

	overflow-y: scroll;
	scrollbar-color: rgba(250,250,250,1) rgba(200,200,200,1);
	scrollbar-width: thin;
	box-shadow: 0px 1px 1px rgba(150,150,150,1);
}

.drag-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(150,150,150,1);
}

.chat-insert {
	position: absolute;
	left: 40%;
	top: 550px;
	width: 500px;
}
.chat-insert > div {
	position: relative;
	float: left;
}
.chat-send-button {
	text-align: center;
	font-size: 0.9em;
	line-height: 2em;
	width: 100px;
	height: 25px;
	margin: 12px 0 0 50px;
	border-radius: 12px;
	border: solid 1px rgba(200,200,200,1);
	box-shadow: 0px 2px 2px rgba(150,150,150,1);
	background-color: rgba(250,250,250,1);
	cursor: pointer;
}
.chat-send-button:hover {
	background-color: rgba(200,200,200,1);
}

.chat-item-bord {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 400px;
	height: 500px;	
	overflow-y: scroll;
	scrollbar-color: rgba(250,250,250,1) rgba(200,200,200,1);
	scrollbar-width: thin;
}

.chat-items {
	position: relative;
	float: left;
	width: 380px;
	height: 80px;
	margin: 2px 0;
	box-shadow: 0px 1px 1px rgba(20,20,20,1);
	background-color: rgba(250,250,250,1);
}
.chat-items > img {

}
.chat-items > div {
	font-size: 0.8em;
	word-wrap: break-word;
	position: absolute;
	top: 0px;
	left: 110px;
	width: 220px;
	height: 80px;
	padding: 0;
	margin: 0;
}

.chat-items > .chat-item-download-button {
	text-align: center;
	line-height: 2.2em;
	top: 50px;
	left: 320px;
	width: 25px;
	height: 25px;
	border-radius: 12px;
	border: solid 1px rgba(200,200,200,1);
	background-color: rgba(250,250,250,1);
	cursor: pointer;
}
.chat-items > .chat-item-download-button:hover {
	background-color: rgba(200,200,200,1);
}

/**********************************************************
* ：：Story Bord
***********************************************************/
.screen-story {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 85%;
	height: 90%;
	background-color: rgba(50,50,50,1);
	box-shadow: 0px 0px 5px rgba(200,200,200,1);
	z-index: 1210;
}




.row {
	width: 100%;
}
.row > div{
	position: relative;
	float: left;
	width: 50%;
	height: 80%;
}

.list-block-s1,
.list-block-s2 {
	position: relative;
	float: left;
	width: 330px;
	height: 50px;
	margin: 5px auto;
}

.list-block-s1 > div {
	position: relative;
	float: left;
}

.list-block-s2 > div {
	position: relative;
	float: left;
	width: 100%;
}

.title-s3 {
	text-align: center;
	font-size: 1.2em;
	position: relative;
	width: 200px;
	height: 50px;
	margin: auto;

}

.screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.6);
}

.hide {
	display: none;
}
.center-button-s {
    font-size: 1em;
    line-height: 4em;
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 60px;
    margin: 5px auto;
    border: solid 1px rgba(100,100,100,1);
	border-radius: 20px;
	background-color: rgba(250,250,250,1);
}
.button-s {
    font-size: 0.95em;
    line-height: 2em;
    position: relative;
    float: left;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 30px;
    margin: 5px auto;
    border: solid 1px rgba(100,100,100,1);
    border-radius: 10px;
}
.button-s:hover,
.center-button-s:hover {
    background-color: rgba(150,150,150,1);
}

.button-m {
	font-weight: bold;
    font-size: 1.2em;
    line-height: 2.5em;
    position: relative;
    float: left;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
	border-radius: 10px;
	background-color: rgba(250,250,250,1);
}

.button-close {
	font-weight: bold;
    font-size: 1em;
    line-height: 3em;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: solid 1px rgba(100,100,100,1);
	border-radius: 25px;
	background-color: rgba(250,250,250,1);
}

.button-close {
	position: absolute;
	top: 500px;
	left: 80%;
}
.button-m:hover,
.button-close:hover {
    background-color: rgba(150,150,150,1);
}















.cp_iptxt {
	position: relative;
	width: 60%;
	margin: 10px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
	border-radius: 10px;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='text']:focus::after {
	outline: none;
}
.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #da3c41;
}