.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(8, 0, 29);
}
body {
    background-color: rgb(8, 0, 29);
}
app-root {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}